In [1]:
#Importing Libraries
import pandas as pd
import numpy as np
import os

In [2]:
"""
File:departments.csv
Author:Erica Henry
Date: 2/13/24

#Description: Importing of raw data for departments.csv
"""

df_dep=pd.read_csv(r"C:\Users\HP\02-2024 Instacart Basket Analysis\02 Data\Original Data\departments.csv",index_col=False)

In [3]:
#Creating string for project folder path
path=r"C:\Users\HP\02-2024 Instacart Basket Analysis"

In [4]:
"""
File:orders.csv
Author:Erica Henry
Date: 2/13/24

#Description: Importing of raw data for orders.csv
"""

df_ords=pd.read_csv(os.path.join(path,"02 Data","Original Data","orders.csv"),index_col= False)

In [5]:
"""
File:products.csv
Author:Erica Henry
Date: 2/13/24

#Description: Importing of raw data for products.csv
"""

df_prods=pd.read_csv(os.path.join(path,"02 Data","Original Data","products.csv"),index_col= False)

In [18]:
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [6]:
"""
File:orders_products_prior.csv
Author:Erica Henry
Date: 2/13/24

#Description: Importing of raw data for orders_products_prior.csv
"""

df_ords_prod_pr=pd.read_csv(os.path.join(path,"02 Data","Original Data","orders_products_prior.csv"),index_col= False)

In [7]:
"""
File:orders.csv
Author:Erica Henry
Date: 2/13/24

#Description: Removing eval_set column from orders.csv df
"""

df_ords.drop(columns = ['eval_set'])

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0
...,...,...,...,...,...,...
3421078,2266710,206209,10,5,18,29.0
3421079,1854736,206209,11,4,10,30.0
3421080,626363,206209,12,1,12,18.0
3421081,2977660,206209,13,1,12,7.0
3421082,272231,206209,14,6,14,30.0

In [8]:
#Removing eval_set column from orders.csv from df_ords
df_ords = df_ords.drop(columns = ['eval_set'])

In [9]:
df_ords.head()

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

In [10]:
df_ords["days_since_prior_order"].value_counts(dropna = False)

days_since_prior_order
30.0    369323
7.0     320608
6.0     240013
4.0     221696
3.0     217005
5.0     214503
NaN     206209
2.0     193206
8.0     181717
1.0     145247
9.0     118188
14.0    100230
10.0     95186
13.0     83214
11.0     80970
12.0     76146
0.0      67755
15.0     66579
16.0     46941
21.0     45470
17.0     39245
20.0     38527
18.0     35881
19.0     34384
22.0     32012
28.0     26777
23.0     23885
27.0     22013
24.0     20712
25.0     19234
29.0     19191
26.0     19016
Name: count, dtype: int64

In [11]:
"""
File:orders.csv
Author:Erica Henry
Date: 2/13/24

#Description: Changing the name of column order_dow from df_ords
"""

df_ords.rename(columns = {'order_dow' : 'orders_day_of_week'}, inplace = True)

In [12]:
df_ords.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

In [13]:
#Changing variable type of order_id
df_ords['order_id'] = df_ords['order_id'].astype('str')

In [14]:
df_ords["order_id"].dtype

dtype('O')

In [15]:
df_dep.head()

,department_id,1,2,3,4,5,6,7,8,9,...,12,13,14,15,16,17,18,19,20,21
0,department,frozen,other,bakery,produce,alcohol,international,beverages,pets,dry goods pasta,...,meat seafood,pantry,breakfast,canned goods,dairy eggs,household,babies,snacks,deli,missing

In [16]:
df_dep.T

                             0
department_id       department
1                       frozen
2                        other
3                       bakery
4                      produce
5                      alcohol
6                international
7                    beverages
8                         pets
9              dry goods pasta
10                        bulk
11               personal care
12                meat seafood
13                      pantry
14                   breakfast
15                canned goods
16                  dairy eggs
17                   household
18                      babies
19                      snacks
20                        deli
21                     missing

In [17]:
df_dep_t=df_dep.T

In [ ]:
df_dep_t

In [ ]:
df_dep_t.reset_index()

In [ ]:
#Take the first row of df_dep_t for the header
new_header=df_dep_t.iloc[0]

In [ ]:
new_header

In [ ]:
#Take the data under the header row for a new df
df_dep_t_new=df_dep_t[1:]

In [ ]:
df_dep_t_new

In [ ]:
#Set the header row as the df header
df_dep_t_new.columns=new_header

In [ ]:
df_dep_t_new

In [ ]:
"""
File:departments.csv
Author:Erica Henry
Date: 2/13/24

#Description: Turning departments df into a data dictionary
"""

data_dict = df_dep_t_new.to_dict("index")

In [ ]:
data_dict

In [ ]:
df_prods.head()

In [ ]:
print(data_dict.get('19'))

In [ ]:
"""
File:products.csv
Author:Erica Henry
Date: 2/13/24

#Description: Subset of df_prods for snacks department
"""

df_snacks=df_prods[df_prods["department_id"]==19]

In [ ]:
df_prods['department_id']==19

In [ ]:
df_prods[df_prods['department_id']==19]

In [ ]:
df_snacks.head()

In [ ]:
#Question 2:Find another identifier variable in the df_ords dataframe that doesn’t need to be included in your analysis as a numeric variable and change it to a suitable format
df_ords["user_id"] = df_ords["user_id"].astype("str")

In [ ]:
df_ords["user_id"].dtype

In [ ]:
#Question 3:Look for a variable in your df_ords dataframe with an unintuitive name and change its name without overwriting the dataframe.
df_ords.columns

In [ ]:
#Changing the name of column order_number from df_ords to number_of_orders
df_ords.rename(columns = {"order_number" : "number_of_orders"}, inplace = True)

In [ ]:
df_ords.columns

In [ ]:
#Question 4:Your client wants to know what the busiest hour is for placing orders. Find the frequency of the corresponding variable and share your findings.
df_ords["order_hour_of_day"].value_counts(dropna=False)

In [ ]:
#10am is the busiest hour for palcing orders

In [ ]:
#Question 5:Determine the meaning behind a value of 4 in the "department_id" column within the df_prods dataframe using a data dictionary.
data_dict

In [ ]:
df_prods.head()

In [ ]:
print(data_dict.get("4"))

In [ ]:
#Question 6:The sales team in your client’s organization wants to know more about breakfast item sales. Create a subset containing only the required information.
df_breakfast =  df_prods[df_prods['department_id']==14]

In [ ]:
df_breakfast.head()

In [ ]:
df_breakfast.tail()

In [ ]:
print(df_breakfast.info())

In [ ]:
#Question 7:They’d also like to see details about products that customers might use to throw dinner parties. Your task is to find all observations from the entire dataframe that include items from the following departments: alcohol, deli, beverages, and meat/seafood. You’ll need to present this subset to your client.
df_dinner_parties=df_prods.loc[df_prods["department_id"].isin([5,20,7,12])]

In [ ]:
print(df_dinner_parties.info())

In [ ]:
#Question 8:It’s important that you keep track of total counts in your dataframes. How many rows does the last dataframe you created have?
7650

In [ ]:
#Question 9:Someone from the data engineers team in Instacart thinks they’ve spotted something strange about the customer with a "user_id" of “1.” Extract all the information you can about this user.
df_ords["user_id"]==1

In [ ]:
#Coverting user_id back to numeric data type
df_ords["user_id"]=df_ords["user_id"].astype("int")

In [ ]:
#Extracted info on user_id 1 
df_ords[df_ords["user_id"]==1]

In [ ]:
df_ords_user_id_1=df_ords[df_ords["user_id"]==1]

In [ ]:
df_ords_user_id_1.head()

In [ ]:
#Question 10:You also need to provide some details about this user’s behavior. What basic stats can you provide based on the information you have?
df_ords_user_id_1.describe()

In [ ]:
#Question 11 Check the organization and structure of your notebook. Be sure to include section headings and code comments.(no reply needed)

In [ ]:
#Question 12: Export your df_ords dataframe as “orders_wrangled.csv” in your “Prepared Data” folder.
df_ords.to_csv(os.path.join(path,"02 Data","Prepared Data","orders_wrangled.csv"))

In [ ]:
#Question 13:Export the df_dep_t_new dataframe as “departments_wrangled.csv” in your “Prepared Data” folder so that you have a “.csv” file of your departments data in the correct format.
df_dep_t_new.to_csv(os.path.join(path,"02 Data","Prepared Data","departments_wrangled.csv"))

In [ ]:
df_ords_prod_pr.head()

In [ ]:
#Changing column name reordered to number_of_times_reordered in orders products prior
df_ords_prod_pr.rename(columns={"reordered":"number_of_times_reordered"},inplace=True)

In [ ]:
df_ords_prod_pr.head()

In [ ]:
df_ords_prod_pr.info()

In [ ]:
df_ords_prod_pr.describe()

In [ ]:
data_dict_2=df_ords_prod_pr.to_dict("index")

In [ ]:
data_dict_2

In [ ]:
#Exporting df_ords_prod_pr dataframe as orders_products_prior_wrangled.csv
df_ords_prod_pr.to_csv(os.path.join(path,"02 Data","Prepared Data","orders_products_prior_wrangled.csv"))

In [ ]:
"""
File:customers.csv
Author:Erica Henry
Date: 2/13/24

#Description: Importing of raw data for customers.csv
"""

df_cust=pd.read_csv(os.path.join(path,"02 Data","Original Data","customers.csv"),index_col= False)

In [ ]:
df_cust.head()

In [ ]:
#Changing column name Surnam to Last Name
df_cust.rename(columns={"Surnam":"Last Name"},inplace=True)

In [ ]:
#Changing column name n_dependants to number_of_dependents
df_cust.rename(columns={"n_dependants":"number_of_dependents"},inplace=True)

In [ ]:
df_cust.head()

In [ ]:
#Exporting df_cust dataframe as customers_wrangled.csv
df_cust.to_csv(os.path.join(path,"02 Data","Prepared Data","customers_wrangled.csv"))