In [1]:
#Importing Libraries
import pandas as pd
import numpy as np
import os

In [2]:
"""
File:products.csv
Author:Erica Henry
Date: 2/14/24

#Description: Importing of raw data for products.csv
"""

df_prods=pd.read_csv(r"C:\Users\HP\02-2024 Instacart Basket Analysis\02 Data\Original Data\products.csv",index_col=False)

In [3]:
#Creating string for project folder path
path=r"C:\Users\HP\02-2024 Instacart Basket Analysis"

In [4]:
"""
File:orders_wrangled.csv
Author:Erica Henry
Date: 2/14/24

#Description: Importing of data for orders_wrangled.csv
"""

df_ords=pd.read_csv(os.path.join(path,"02 Data","Prepared Data","orders_wrangled.csv"),index_col= False)

In [5]:
"""
File:none
Author:Erica Henry
Date: 2/14/24

#Description: Create a test dataframe
"""

df_test=pd.DataFrame()

In [6]:
#Create a mixed type column
df_test["mix"]=["a", "b",1,True]

In [7]:
df_test.head()

    mix
0     a
1     b
2     1
3  True

In [8]:
#check for mixed types
for col in df_test.columns.tolist():
  weird = (df_test[[col]].applymap(type) != df_test[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_test[weird]) > 0:
    print (col)

mix

C:\Users\HP\AppData\Local\Temp\ipykernel_14972\335358845.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_test[[col]].applymap(type) != df_test[[col]].iloc[0].apply(type)).any(axis = 1)

In [9]:
"""
File:products.csv
Author:Erica Henry
Date: 2/14/24

#Description: Find missing values in df.prods
"""

df_prods.isnull().sum()

product_id        0
product_name     16
aisle_id          0
department_id     0
prices            0
dtype: int64

In [10]:
"""
File:products.csv
Author:Erica Henry
Date: 2/14/24

#Description: Create a subset to view missing values in df_prods
"""

df_nan=df_prods[df_prods["product_name"].isnull()==True]

In [11]:
df_nan

       product_id product_name  aisle_id  department_id  prices
33             34          NaN       121             14    12.2
68             69          NaN        26              7    11.8
115           116          NaN        93              3    10.8
261           262          NaN       110             13    12.1
525           525          NaN       109             11     1.2
1511         1511          NaN        84             16    14.3
1780         1780          NaN       126             11    12.3
2240         2240          NaN        52              1    14.2
2586         2586          NaN       104             13    12.4
3159         3159          NaN       126             11    13.1
3230         3230          NaN       120             16    14.4
3736         3736          NaN        41              8    14.8
4283         4283          NaN        77              7    14.4
4790         4790          NaN        91             16    14.5
38187       38183          NaN        39             12    20.9
40444       40440          NaN       120             16    14.8

In [12]:
df_prods.shape

(49693, 5)

In [13]:
#Removing missing values/ Creating a new df of non-missing values
df_prods_clean=df_prods[df_prods["product_name"].isnull() == False]

In [14]:
df_prods_clean.shape

(49677, 5)

In [15]:
"""
File:products.csv
Author:Erica Henry
Date: 2/14/24

#Description: Finding duplicates in df_prods_clean
"""

df_dups = df_prods_clean[df_prods_clean.duplicated()]

In [16]:
df_dups

,product_id,product_name,aisle_id,department_id,prices
462,462,Fiber 4g Gummy Dietary Supplement,70,11,4.8
18459,18458,Ranger IPA,27,5,9.2
26810,26808,Black House Coffee Roasty Stout Beer,27,5,13.4
35309,35306,Gluten Free Organic Peanut Butter & Chocolate ...,121,14,6.8
35495,35491,Adore Forever Body Wash,127,11,9.9

In [17]:
df_prods_clean.shape

(49677, 5)

In [18]:
#Creating df from df_prods with no duplicates
df_prods_clean_no_dups = df_prods_clean.drop_duplicates()

In [19]:
df_prods_clean_no_dups.shape

(49672, 5)

In [20]:
#Question 2 part 1 CareerFoundry Task: Run the df.describe() function on your df_ords dataframe. 
df_ords.describe()

,Unnamed: 0,order_id,user_id,number_of_orders,orders_day_of_week,order_hour_of_day,days_since_prior_order
count,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.214874e+06
mean,1.710541e+06,1.710542e+06,1.029782e+05,1.715486e+01,2.776219e+00,1.345202e+01,1.111484e+01
std,9.875817e+05,9.875817e+05,5.953372e+04,1.773316e+01,2.046829e+00,4.226088e+00,9.206737e+00
min,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,8.552705e+05,8.552715e+05,5.139400e+04,5.000000e+00,1.000000e+00,1.000000e+01,4.000000e+00
50%,1.710541e+06,1.710542e+06,1.026890e+05,1.100000e+01,3.000000e+00,1.300000e+01,7.000000e+00
75%,2.565812e+06,2.565812e+06,1.543850e+05,2.300000e+01,5.000000e+00,1.600000e+01,1.500000e+01
max,3.421082e+06,3.421083e+06,2.062090e+05,1.000000e+02,6.000000e+00,2.300000e+01,3.000000e+01

In [21]:
#Question 2 part 2 CareerFoundry Task: Using your new knowledge about how to interpret the output of this function, share in a markdown cell whether anything about the data looks off or should be investigated further.

In [22]:
#Answer: In the columns order_id, user_id, and number_of_orders the max seems odd. When comparing the 25% quartile to these max values they seem especially strange. Also, the min and max of number_of_orders is the same so there is an issue with these values that should be investigated further as well.

In [23]:
#Question3 CareerFoundry Task: Check for mixed-type data in your df_ords dataframe.
for col in df_ords.columns.tolist():
  weird=(df_ords[[col]].applymap(type)!= df_ords[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_ords[weird]) > 0:
    print (col)

C:\Users\HP\AppData\Local\Temp\ipykernel_14972\1292571316.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird=(df_ords[[col]].applymap(type)!= df_ords[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\HP\AppData\Local\Temp\ipykernel_14972\1292571316.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird=(df_ords[[col]].applymap(type)!= df_ords[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\HP\AppData\Local\Temp\ipykernel_14972\1292571316.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird=(df_ords[[col]].applymap(type)!= df_ords[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\HP\AppData\Local\Temp\ipykernel_14972\1292571316.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird=(df_ords[[col]].applymap(type)!= df_ords[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\HP\AppData\Local\Temp\ipykernel_14972\1292571316.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird=(df_ords[[col]].applymap(type)!= df_ords[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\HP\AppData\Local\Temp\ipykernel_14972\1292571316.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird=(df_ords[[col]].applymap(type)!= df_ords[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\HP\AppData\Local\Temp\ipykernel_14972\1292571316.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird=(df_ords[[col]].applymap(type)!= df_ords[[col]].iloc[0].apply(type)).any(axis = 1)

In [24]:
#Question 4 CareerFoundry Task: If you find mixed-type data, fix it. The column in question should contain observations of a single data type.

In [25]:
#Answer: No mixed data was found

In [26]:
#Question 5 part 1 CareerFoundry Task: Run a check for missing values in your df_ords dataframe.
df_ords.isnull().sum()

Unnamed: 0                     0
order_id                       0
user_id                        0
number_of_orders               0
orders_day_of_week             0
order_hour_of_day              0
days_since_prior_order    206209
dtype: int64

In [27]:
#Question 5 part 2 CareerFoundry Task: In a markdown cell, report your findings and propose an explanation for any missing values you find.

In [28]:
#Answer: There are 206,209 missing values in the column days_since_prior_order. This accounts for all rows of the df. This data could be missing due to a number of reasons. Explanations for the missing data could be that the data was never recorded, or possibly there was a system error such as a number of customers that signed up for the service but never actually placed an order have been included.

In [29]:
#Question 6 part 1  CareerFoundry Task: Address the missing values using an appropriate method
df_ords.shape

(3421083, 7)

In [30]:
df_ords_missings=df_ords[df_ords["days_since_prior_order"].isnull()==True]

In [31]:
df_ords_missings

,Unnamed: 0,order_id,user_id,number_of_orders,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,0,2539329,1,1,2,8,NaN
11,11,2168274,2,1,2,11,NaN
26,26,1374495,3,1,1,14,NaN
39,39,3343014,4,1,6,11,NaN
45,45,2717275,5,1,3,12,NaN
...,...,...,...,...,...,...,...
3420930,3420930,969311,206205,1,4,12,NaN
3420934,3420934,3189322,206206,1,3,18,NaN
3421002,3421002,2166133,206207,1,6,19,NaN
3421019,3421019,2227043,206208,1,1,15,NaN
3421069,3421069,3154581,206209,1,3,11,NaN

In [32]:
#Question 6 part 2 CareerFoundry Task: In a markdown cell, explain why you used your method of choice.

In [33]:
#Answer: Because overwriting df's is so risky, I opted to create a new df of the missing values instead of overwriting the original df_ords df. Also, since the number of missing values is quite large, creating a subset df was ideal vs removing them altogether. The fact that such a large numver of values are missing could be important.

In [34]:
#Question 7 part 1 CareerFoundry Task:Run a check for duplicate values in your df_ords data
df_dups=df_ords[df_ords.duplicated()]

In [35]:
df_dups

Empty DataFrame
Columns: [Unnamed: 0, order_id, user_id, number_of_orders, orders_day_of_week, order_hour_of_day, days_since_prior_order]
Index: []

In [36]:
#Question 7 part 2 CareerFoundry Task: In a markdown cell, report your findings and propose an explanation for any duplicate values you find.

In [37]:
#Answer: No duplicates were found in df_ords.

In [38]:
#Question 8 CareerFoundry Task: Address the duplicates using an appropriate method. In a markdown cell, explain why you used your method of choice)

In [39]:
#Answer:  No duplicates were found in df_ords.

In [40]:
#Question 9 CareerFoundry Task: Export your final, cleaned df_prods and df_ords data as “.csv” files in your “Prepared Data” folder and give them appropriate, succinct names.
df_ords.to_csv(os.path.join(path,"02 Data","Prepared Data","orders_consistency_checked.csv"))

In [41]:
df_prods_clean_no_dups.to_csv(os.path.join(path,"02 Data","Prepared Data","products_consistency_checked.csv"))

In [42]:
"""
File:departments_wrangled.csv
Author:Erica Henry
Date: 2/15/24

#Description: Importing data for departments_wrangled.csv
"""

df_dept=pd.read_csv(os.path.join(path,"02 Data","Prepared Data","departments_wrangled.csv"),index_col= False)

In [43]:
"""
File:orders_products_prior_wrangled.csv
Author:Erica Henry
Date: 2/15/24

#Description: Importing data for orders_products_prior_wrangled.csv
"""

df_ords_prod_pr=pd.read_csv(os.path.join(path,"02 Data","Prepared Data","orders_products_prior_wrangled.csv"),index_col= False)

In [44]:
"""
File:customers_wrangled.csv
Author:Erica Henry
Date: 2/15/24

#Description: Importing data for customers_wrangled.csv
"""

df_cust=pd.read_csv(os.path.join(path,"02 Data","Prepared Data","customers_wrangled.csv"),index_col= 0)

In [45]:
df_cust.head()

,user_id,First Name,Last Name,Gender,STATE,Age,date_joined,number_of_dependents,fam_status,income
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665
1,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285
2,65803,Kenneth,Farley,Male,Idaho,35,1/1/2017,2,married,99568
3,125935,Michelle,Hicks,Female,Iowa,40,1/1/2017,0,single,42049
4,130797,Ann,Gilmore,Female,Maryland,26,1/1/2017,1,married,40374

In [46]:
"""
File:departments_wrangled.csv
Author:Erica Henry
Date: 2/15/24

#Description: Check for mixed types in df_dept
"""

for col in df_dept.columns.tolist():
  weird = (df_dept[[col]].applymap(type) != df_dept[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_dept[weird]) > 0:
    print (col)

C:\Users\HP\AppData\Local\Temp\ipykernel_14972\119216834.py:10: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_dept[[col]].applymap(type) != df_dept[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\HP\AppData\Local\Temp\ipykernel_14972\119216834.py:10: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_dept[[col]].applymap(type) != df_dept[[col]].iloc[0].apply(type)).any(axis = 1)

In [47]:
"""
File:orders_products_prior_wrangled.csv
Author:Erica Henry
Date: 2/15/24

#Description: Check for mixed types in df_ords_prod_pr
"""

for col in df_ords_prod_pr.columns.tolist():
  weird = (df_ords_prod_pr[[col]].applymap(type) != df_ords_prod_pr[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_ords_prod_pr[weird]) > 0:
    print (col)

C:\Users\HP\AppData\Local\Temp\ipykernel_14972\3862751113.py:10: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_ords_prod_pr[[col]].applymap(type) != df_ords_prod_pr[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\HP\AppData\Local\Temp\ipykernel_14972\3862751113.py:10: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_ords_prod_pr[[col]].applymap(type) != df_ords_prod_pr[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\HP\AppData\Local\Temp\ipykernel_14972\3862751113.py:10: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_ords_prod_pr[[col]].applymap(type) != df_ords_prod_pr[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\HP\AppData\Local\Temp\ipykernel_14972\3862751113.py:10: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_ords_prod_pr[[col]].applymap(type) != df_ords_prod_pr[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\HP\AppData\Local\Temp\ipykernel_14972\3862751113.py:10: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_ords_prod_pr[[col]].applymap(type) != df_ords_prod_pr[[col]].iloc[0].apply(type)).any(axis = 1)

In [48]:
"""
File:customers_wrangled.csv
Author:Erica Henry
Date: 2/15/24

#Description: Check for mixed types in df_cust
"""

#check for mixed types in df_cust
for col in df_cust.columns.tolist():
  weird = (df_cust[[col]].applymap(type) != df_cust[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_cust[weird]) > 0:
    print (col)

C:\Users\HP\AppData\Local\Temp\ipykernel_14972\2928692086.py:11: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_cust[[col]].applymap(type) != df_cust[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\HP\AppData\Local\Temp\ipykernel_14972\2928692086.py:11: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_cust[[col]].applymap(type) != df_cust[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\HP\AppData\Local\Temp\ipykernel_14972\2928692086.py:11: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_cust[[col]].applymap(type) != df_cust[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\HP\AppData\Local\Temp\ipykernel_14972\2928692086.py:11: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_cust[[col]].applymap(type) != df_cust[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\HP\AppData\Local\Temp\ipykernel_14972\2928692086.py:11: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_cust[[col]].applymap(type) != df_cust[[col]].iloc[0].apply(type)).any(axis = 1)

First Name

C:\Users\HP\AppData\Local\Temp\ipykernel_14972\2928692086.py:11: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_cust[[col]].applymap(type) != df_cust[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\HP\AppData\Local\Temp\ipykernel_14972\2928692086.py:11: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_cust[[col]].applymap(type) != df_cust[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\HP\AppData\Local\Temp\ipykernel_14972\2928692086.py:11: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_cust[[col]].applymap(type) != df_cust[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\HP\AppData\Local\Temp\ipykernel_14972\2928692086.py:11: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_cust[[col]].applymap(type) != df_cust[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\HP\AppData\Local\Temp\ipykernel_14972\2928692086.py:11: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_cust[[col]].applymap(type) != df_cust[[col]].iloc[0].apply(type)).any(axis = 1)

In [49]:
"""
File:orders_products_prior_wrangled.csv
Author:Erica Henry
Date: 2/15/24

#Description: Find missing values in df_ords_prod_pr
"""

df_ords_prod_pr.isnull().sum()

Unnamed: 0                   0
order_id                     0
product_id                   0
add_to_cart_order            0
number_of_times_reordered    0
dtype: int64

In [50]:
"""
File:departments_wrangled.csv
Author:Erica Henry
Date: 2/15/24

#Description: Find missing values in df_dept
"""

df_dept.isnull().sum()

Unnamed: 0    0
department    0
dtype: int64

In [51]:
df_cust.shape

(206209, 10)

In [52]:
"""
File:customers_wrangled.csv
Author:Erica Henry
Date: 2/15/24

#Description: Find missing values in df_cust
"""

df_cust.isnull().sum()

user_id                     0
First Name              11259
Last Name                   0
Gender                      0
STATE                       0
Age                         0
date_joined                 0
number_of_dependents        0
fam_status                  0
income                      0
dtype: int64

In [53]:
"""
File:orders.csv
Author:Erica Henry
Date: 2/18/24

#Description: Deep copy of df_ords to create a new df with new column for missings
"""

df_ords_new=df_ords.copy()

In [54]:
#Copying column with missings days_since_prior_order to new column days_since_prior_order_2
df_ords_new["days_since_prior_order_2"]=df_ords_new.loc[:,"days_since_prior_order"]

In [55]:
#Replacing NaN values with Missing in new column days_since_prior_order_2
df_ords_new["days_since_prior_order_2"].fillna("Missing", inplace = True)

C:\Users\HP\AppData\Local\Temp\ipykernel_14972\2918444608.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Missing' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df_ords_new["days_since_prior_order_2"].fillna("Missing", inplace = True)

In [56]:
#Checking for null values in new column days_since_prior_order_2
df_ords_new.isnull().sum()

Unnamed: 0                       0
order_id                         0
user_id                          0
number_of_orders                 0
orders_day_of_week               0
order_hour_of_day                0
days_since_prior_order      206209
days_since_prior_order_2         0
dtype: int64

In [57]:
#New df/subset for df_ords created in Question 6 part 1  CareerFoundry Task above

In [58]:
"""
File:departments.csv
Author:Erica Henry
Date: 2/18/24

#Description: Finding duplicates in df_dept
"""

df_dups = df_dept[df_dept.duplicated()]

In [59]:
df_dups

Empty DataFrame
Columns: [Unnamed: 0, department]
Index: []

In [60]:
"""
File:orders_products_prior_wrangled.csv
Author:Erica Henry
Date: 2/18/24

#Description: Finding duplicates in orders_products_prior_wrangled.csv
"""

df_dups = df_ords_prod_pr[df_ords_prod_pr.duplicated()]

In [61]:
df_dups

Empty DataFrame
Columns: [Unnamed: 0, order_id, product_id, add_to_cart_order, number_of_times_reordered]
Index: []

In [62]:
"""
File:customers_wrangled.csv
Author:Erica Henry
Date: 2/18/24

#Description: Finding duplicates df_cust_new
"""

df_dups = df_cust[df_cust.duplicated()]

In [63]:
df_dups

Empty DataFrame
Columns: [user_id, First Name, Last Name, Gender, STATE, Age, date_joined, number_of_dependents, fam_status, income]
Index: []

In [64]:
"""
File:orders_wrangled.csv
Author:Erica Henry
Date: 2/18/24

#Description: Finding duplicates df_ords_new
"""


df_dups=df_ords_new[df_ords_new.duplicated()]

In [65]:
df_dups

Empty DataFrame
Columns: [Unnamed: 0, order_id, user_id, number_of_orders, orders_day_of_week, order_hour_of_day, days_since_prior_order, days_since_prior_order_2]
Index: []

In [66]:
"""
File:orders_wrangled.csv
Author:Erica Henry
Date: 2/18/24

#Description: Export of final, cleaned df_ords_new as “.csv” file in “Prepared Data” folder with the appropriate, succinct name
"""

df_ords.to_csv(os.path.join(path,"02 Data","Prepared Data","orders_consistency_checked.csv"))

In [67]:
"""
File:departments.csv
Author:Erica Henry
Date: 2/18/24

#Description: Export of final, cleaned df_dept as “.csv” file in “Prepared Data” folder with the appropriate, succinct name
"""

df_dept.to_csv(os.path.join(path,"02 Data","Prepared Data","dept_consistency_checked.csv"))

In [68]:
"""
File:orders_products_prior_wrangled.csv
Author:Erica Henry
Date: 2/18/24

#Description: Export of final, cleaned df_ords_prod_pr as “.csv” file in “Prepared Data” folder with the appropriate, succinct name
"""

df_ords_prod_pr.to_csv(os.path.join(path,"02 Data","Prepared Data","df_ords_prod_pr_consistency_checked.csv"))

In [69]:
"""
File:customers_wrangled.csv
Author:Erica Henry
Date: 2/18/24

#Description: Export of final, cleaned df_cust as “.csv” file in “Prepared Data” folder with the appropriate, succinct name
"""

df_cust.to_csv(os.path.join(path,"02 Data","Prepared Data","df_cust_new_consistency_checked.csv"))