In [ ]:
#CONTENTS LIST:
#1. Merging orders and orders products prior datasets
#2. Export of orders_products_combined.pkl

In [1]:
#Importing Libraries
import pandas as pd
import numpy as np
import os

In [2]:
"""
File: df_ords_prod_pr_consistency_checked.csv
Author:Erica Henry
Date: 2/18/24

#Description: Importing df_ords_prod_pr_consistency_checked.csv
"""

df_ords_prior=pd.read_csv(r"C:\Users\HP\02-2024 Instacart Basket Analysis\02 Data\Prepared Data\df_ords_prod_pr_consistency_checked.csv",index_col=False)

In [3]:
#Creating string for project folder path
path=r"C:\Users\HP\02-2024 Instacart Basket Analysis"

In [4]:
"""
File: orders_consistency_checked.csv
Author:Erica Henry
Date: 2/18/24

#Description: Importing orders_consistency_checked.csv
"""

df_ords=pd.read_csv(os.path.join(path,"02 Data","Prepared Data","orders_consistency_checked.csv"),index_col= False)

In [5]:
#Check the output of df_ords_prior
df_ords_prior.head()

,Unnamed: 0.1,Unnamed: 0,order_id,product_id,add_to_cart_order,number_of_times_reordered
0,0,0,2,33120,1,1
1,1,1,2,28985,2,1
2,2,2,2,9327,3,0
3,3,3,2,45918,4,1
4,4,4,2,30035,5,0

In [6]:
df_ords_prior.shape

(32434489, 6)

In [7]:
#Check the output of df_ords
df_ords.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,number_of_orders,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,0,0,2539329,1,1,2,8,NaN
1,1,1,2398795,1,2,3,7,15.0
2,2,2,473747,1,3,3,12,21.0
3,3,3,2254736,1,4,4,7,29.0
4,4,4,431534,1,5,4,15,28.0

In [8]:
df_ords.shape

(3421083, 8)

In [9]:
"""
File: orders_consistency_checked.csv and orders_consistency_checked.csv
Author:Erica Henry
Date: 2/18/24

#Description: Merge df_ords and df_ords_prior
"""

df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [10]:
#Check the output of df_merged_large
df_merged_large.head()

,Unnamed: 0.1_x,Unnamed: 0_x,order_id,user_id,number_of_orders,orders_day_of_week,order_hour_of_day,days_since_prior_order,Unnamed: 0.1_y,Unnamed: 0_y,product_id,add_to_cart_order,number_of_times_reordered,_merge
0,0,0,2539329,1,1,2,8,NaN,24076664,24076664,196,1,0,both
1,0,0,2539329,1,1,2,8,NaN,24076665,24076665,14084,2,0,both
2,0,0,2539329,1,1,2,8,NaN,24076666,24076666,12427,3,0,both
3,0,0,2539329,1,1,2,8,NaN,24076667,24076667,26088,4,0,both
4,0,0,2539329,1,1,2,8,NaN,24076668,24076668,26405,5,0,both

In [11]:
df_merged_large["_merge"].value_counts()

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

In [12]:
#Export df_merged_large file
df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))